.column-1{
    float: left;
    position:relative;
    margin-left: 2em;
    margin-bottom: 2em;
    width:40%;
    background-color: #D9D9D9;
    font-family:arial;
     padding:1em;
}

.column-2{
    float: left;
    position:relative;
    margin-right: 2em;
    width:40%;
    background-color: #D9D9D9;
    font-family:arial;
    margin-left:1em;
    padding:1em;
}

footer {
    clear:both;
    position:relative;
    margin-top: 5em;
    font-size: 1.2em;
    background-color:#D1E0FF;
    height:5em;
    width:100%;
    padding: 2em;
}

.header {
    background-color: #99CCFF;
    padding:1em;
    margin-bottom:1em;


}

